<h1>User</h1>

<p>
  <strong>Task:</strong>
  <%= @user.first_name %>
</p>
<p>
  <strong>Due Date:</strong>
  <%= @user.last_name %>
</p>
<p>
  <strong>Complete?</strong>
  <%= @user.email %>
</p>


<%= link_to 'Back', users_path %>
