<% quotes_authors = [[" - Arnold Schwarzenegger",["\"Failure is not an option. Everyone has to succeed\"", "\"I am the Governator\""]],
            [ " - Steve Jobs",["\"Your time is limited, so don't waste it living someone else's life\""]],
            [" - Papa John",["\"Better Ingredients, Better Pizza\""]]
            ] %>
<!DOCTYPE html>
<html lang="en">
  <head>

  </head>

  <body>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>W00t!</h1>
        <p>Your life, organized</p>
        <!--<p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>-->
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <img src="https://farm3.staticflickr.com/2833/8865586006_c5ce2a79e6_m.jpg">
          <p class="bottom_header">Tasks</h2>
          <p class="bottom_info">Grouped by projects and lists. Just the way you like 'em</p>
        </div>
        <div class="col-md-4">
          <img src="https://farm9.staticflickr.com/8482/8203794182_8004f8f636_m.jpg">
          <p class="bottom_header">Documents</p>
          <ul class="bottom_ul">
            <li>Upload</li>
            <li>Comment</li>
            <li>Revise</li>
          </ul>
       </div>
        <div class="col-md-4">
          <img src="https://farm8.staticflickr.com/7350/9675018730_f3ab9ab065_m.jpg">
          <p class="bottom_header">Comments</p>
          <ul class="bottom_ul">
            <li>Comment on tasks and documents</li>
            <li>Get e-mail notification</li>
          </ul>

        </div>
      </div>
    <% quotes_authors.each do |author, quotes| %>
      <% quotes.each do |quote| %>
        <p><%=quote%></p>
        <%end%>
      <p class="gray"><%=author%></p>
    <%end%>

  </body>
</html>
