<% if notice != nil %>
  <p class="alert alert-success" id="notice"><%= notice  %></p>
<% end %>

<div class="page-header">
  <div class="pull-right">
    <%= link_to "New Project", new_project_path, class: "btn btn-primary" %>
  </div>
  <h1>Projects</h1>
</div>
<table>
  <thead>
    <th>Name</th>
    <th></th>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
      <td><%= project.name %></td>
      <td><%= link_to "Tasks", project_tasks_path(project) %></td>
      </tr>
    <% end %>
  </tbody>
</table>


  <hr>
