<% if notice != nil %>
  <p class="alert alert-success" id="notice"><%= notice  %></p>
<% end %>

<div class="page-header">
  <div class="pull-right">
    <%= link_to "New Project", new_project_path, class: "btn btn-primary" %>
  </div>
  <h1>Projects</h1>
</div>
<% @projects.each do |project| %>
  <%= link_to project.name, project_path(project) %>
  <hr>


<% end %>
